.u-section-1 .u-sheet-1 {
  min-height: 963px;
}

.u-section-1 .u-image-1 {
  height: 486px;
  margin-top: 478px;
  margin-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 409px;
  width: 570px;
  margin: -948px auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}